body {

}

#header {

}

#delicious {
font-family: 'Pacifico', cursive;
float:left;
}

.icons {
float: right;
}

#icons2 {
float: right;
}

.hr1 {

}

#content {

}

.indented {

}

#list1 {

}

#list2 {

}

.list {

}

#footer {

}

#legal {

}
